html, body {
    margin: 0;
    padding: 0;
	overflow: hidden;
}

#restartPrompt {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(100,100,100,0.6);
	font-size: 1.4em;
}

#restartPrompt div {
	padding: 1em;
	background: #fff;
	position: relative;
	top: 50%;
	box-shadow: 0px 0px 15px -1px rgba(100,100,100,0.5);
}

#restartPrompt button {
	display: block;
	position: relative;
	top: 50%;
	font-size: 1.4em;
	margin: 1em auto 0em;
}